extends ../templates/template

block main
    .box
        .layout
            .layout__item.layout__logo
            .layout__item.layout__menu
            .layout__item.layout__section-1
            .layout__item.layout__section-2
            .layout__item.layout__section-3
            .layout__item.layout__footer